#testimonial{
    width: 100%;
    height: auto;
    background-image: url(../../assets/calculator-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 5rem;
    margin-bottom: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.image-sec{
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-girl{
    width: 92%;
}

.form-sec h3{
    font-size: 16px;
    font-weight: bold;
    color: rgb(255, 81, 26);
}

.form-sec h2{
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}

.form{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    margin-top: 2rem;
}

label{
    display: block;
    color: #fff;
}

.sec1 label{
    display: block;
    color: #fff;
}

.sec1 input{
    padding: 8px;
    width: 300px;
}

form input{
    margin-bottom: 1rem;
    width: 300px;
    padding: 8px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: rgba(121, 134, 151, 0.7);
}

select{
    color: #fff;
    width: 300px;
    padding: 8px;
    background-color: rgba(121, 134, 151, 0.7);
}

.submit-btn{
    background-color: rgb(255, 81, 26);
    margin-top: 1.5rem;
}

@media (max-width:750px) {
    #testimonial{
        height: 100vh;
        margin-top: 5rem;
    }
    .form-sec{
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        padding: 0px 10px;
    }
    form input{
        width: 410px;
    }
    .sec1 input{
        width: 410px;
    }
    select{
        width: 410px;
    }
    .submit-btn{
        margin-top: 2.5rem;
    }
    .image-sec{
        display: none;
    }
}

@media (max-width:390px) {
    form input{
        width: 270px;
    }
    .sec1 input{
        width: 270px;
    }
    select{
        width: 270px;
    }
}
